%h1.post_title
  = @post.title
%p.created_by
  Posted by -
  = @post.user.name
  = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      = image_tag @post.image.url(:medium)
      .description=simple_format(@post.description)
    .vote_wrap
      = link_to like_post_path(@post), method: :get, class: "votes" do
        %span.glyphicon.glyphicon-heart-empty
        = pluralize(@post.get_upvotes.size, "Like")
      %br/
      = link_to dislike_post_path(@post), method: :get, class: "votes" do
        %span.glyphicon.glyphicon-thumbs-down
        = pluralize(@post.get_downvotes.size, "Dislike")
    %p.comment_wrap
      %span.glyphicon.glyphicon-comment
      = pluralize(@post.comments.count,"Comment")
#comment
  %h2
  - @comment.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render'comments/form'
  %br/
  - if user_signed_in?
    - if @post.user_id == current_user.id
      = link_to "Edit",edit_post_path
      = link_to "Delete",post_path(@post),method: :delete,data: {confirm: "Are You Sure?"}
