!!! 5
%html
%head
  %title Neuron
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Neuron",root_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          -# %form.navbar-form.navbar-left{:role=>"search"}
          -#   .form-group
          -#     %input.form-control{:type=>"text",:placeholder=>"search"}
          -#   %button.btn.btn-default{:type=>"submit"}
          %li= link_to "Add a cell",new_post_path
          %li= link_to "Account",edit_user_registration_path
          %li= link_to "Sign out",destroy_user_session_path,method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          -# = form_tag posts_path,class: "navbar-form navbar-left",:method=> 'get' do
          -#   .form-group
          -#     = text_field_tag :search,params[:search],class:"form-control"
            %button.btn.btn-default{:type=>"submit"}
              Submit
          %li= link_to "Sign up",new_user_registration_path
          %li= link_to "Log in",new_user_session_path
  .container
    - flash.each do |name,msg|
      = content_tag :div,msg,class: "alert alert-info"
    = yield
